


  body {
  margin: 0;
  background: #0d1117;
  color: #00ff9c;
  font-family: "Courier New", monospace;
}

.container {
  padding: 20px;
}

.navbar {
  position: sticky;
  top: 0;
  background: #010409;
  padding: 10px;
  border-bottom: 1px solid #00ff9c;
}

.navbar a {
  color: #00ff9c;
  margin-right: 20px;
  text-decoration: none;
}

.navbar a:hover {
  text-shadow: 0 0 10px #00ff9c;
}

.section {
  margin-top: 50px;
}

.terminal {
  background: #010409;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff9c;
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.skill-bar {
  background: #222;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.skill-fill {
  height: 10px;
  background: #00ff9c;
}

.card {
  border: 1px solid #00ff9c;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 15px #00ff9c;
}

input, textarea {
  width: 100%;
  background: black;
  color: #00ff9c;
  border: 1px solid #00ff9c;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
  background: black;
  color: #00ff9c;
  border: 1px solid #00ff9c;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #00ff9c;
  color: black;
}
#about{
color: #00ff9c;
background: black;
}
html {
  scroll-behavior: smooth;
}
